<div class="admin">

  <h2 class="titulo">📦 Inventario</h2>

  <div class="contenido">
    <app-producto-form *ngIf="vista === 'crear'" (crear)="agregarDesdeForm($event)">
    </app-producto-form>
    <app-product-list *ngIf="vista === 'ver'" [productos]="inventario" modo="ver" (eliminar)="eliminar($event)"
      (guardar)="guardar()" (cancelar)="cancelar()">
    </app-product-list>

    <app-product-list *ngIf="vista === 'inventario'" [productos]="inventario" modo="inventario"
      (cambiarStock)="cambiarStock($event.p, $event.cantidad)"
      (aplicarCantidad)="aplicarCantidad($event.p, $event.cantidad)">
    </app-product-list>

    <div class="bottom-menu">

      <div class="item" [class.activo]="vista === 'crear'" (click)="crearProductos()">
        <span>➕</span>
        <small>Altas</small>
      </div>

      <div class="item" [class.activo]="vista === 'ver'" (click)="editarProductos()">
        <span>📦</span>
        <small>Productos</small>
      </div>

      <div class="item" [class.activo]="vista === 'inventario'" (click)="agregarInventario()">
        <span>📥</span>
        <small>Stock</small>
      </div>
    </div>

  </div>