<div class="admin">
  <h2 class="titulo">📊 Ventas</h2>

  <div class="contenido">

    <!-- DASHBOARD -->
    <app-dashboard 
      *ngIf="vista === 'dashboard'"
      [data]="dashboard">
    </app-dashboard>

    <!-- FILTRO -->
    <app-filtro-fechas
      *ngIf="vista === 'ventas' || vista === 'reporte'"
      (filtrar)="onFiltrar($event)"
      (reset)="resetFiltro()">
    </app-filtro-fechas>

    <!-- VENTAS -->
    <app-ventas-list
      *ngIf="vista === 'ventas'"
      [ventas]="ventas">
    </app-ventas-list>

    <!-- REPORTE -->
    <app-reporte
      *ngIf="vista === 'reporte'"
      [reporte]="reporte"
      [fechaInicio]="fechaInicio"
      [fechaFin]="fechaFin"
      (compartir)="compartirReporte()">
    </app-reporte>

    <!-- MENÚ -->
    <div class="bottom-menu">

      <div class="item"
        [class.activo]="vista === 'dashboard'"
        (click)="verDashboard()">
        <span class="icon">📊</span>
        <small>Dashboard</small>
      </div>

      <div class="item"
        [class.activo]="vista === 'reporte'"
        (click)="verReporte()">
        <span class="icon">📦</span>
        <small>Reporte</small>
      </div>

      <div class="item"
        [class.activo]="vista === 'ventas'"
        (click)="verVentas()">
        <span class="icon">💰</span>
        <small>Ventas</small>
      </div>

    </div>

  </div>
</div>